body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#08111b;
    color:white;
}

.layout{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:280px;
    background:#08111b;
    padding:30px;
    box-sizing:border-box;
    border-right:1px solid #142338;
}

.content{
    flex:1;
    padding:40px;
    background:#08111b;
}

.sidebar a{
    color:#dce8fb;
}

nav{
    margin-top:20px;
}

nav a{
    display:block;
    padding:13px 15px;
    margin:6px 0;
    border-radius:12px;
    color:#dce8fb;
    text-decoration:none;
    font-weight:700;
    transition:.25s;
}

nav a:hover{
    background:#162338;
}

nav a.active{
    background:linear-gradient(180deg,#0871df,#06499c);
    box-shadow:
        inset 0 0 18px rgba(65,151,255,.35),
        0 0 16px rgba(29,128,255,.22);
}

.logo{
    text-align:center;
    margin-bottom:25px;
}

.version{
    margin-top:30px;
    text-align:center;
    font-size:12px;
    color:#8aa0bc;
}

.theme-area{
    margin-top:25px;
}

.theme-label{
    font-size:12px;
    letter-spacing:2px;
    margin-bottom:10px;
    color:#cfd9e5;
}

.theme-toggle{
    display:flex;
    align-items:center;
    gap:20px;
}

.theme-icon{
    font-size:34px;
}

.theme-switch{
    width:140px;
    height:55px;
    border-radius:50px;
    border:3px solid #2dd45d;
    background:#0f1720;
    position:relative;
    cursor:pointer;
}

.theme-switch::before{
    content:"🌙";
    position:absolute;
    width:48px;
    height:48px;
    border-radius:50%;
    background:#15202b;
    right:3px;
    top:1px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
    transition:.4s;
}

body.light{
    background:#f4f6f9;
    color:#111;
}

body.light .content{
    background:#f4f6f9;
}

body.light .sidebar{
    background:#ffffff;
    color:#111;
}

body.light .sidebar a{
    color:#111;
}

body.light .theme-switch{
    border-color:#f5b942;
}

body.light .theme-switch::before{
    content:"☀️";
    left:3px;
    right:auto;
}



/* Dashboard v3.4 */
.panel{
    background:linear-gradient(180deg,#111b2f,#0c1525);
    border:1px solid #23314b;
    border-radius:24px;
    padding:25px;
    box-shadow:0 15px 35px rgba(0,0,0,.35);
}

.card{
    background:linear-gradient(180deg,#111b2f,#0c1525);
    border:1px solid #23314b;
    border-radius:24px;
    padding:25px;
    box-shadow:0 15px 35px rgba(0,0,0,.35);
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    text-align:left;
    padding:12px;
    background:#162338;
}

td{
    padding:12px;
    border-bottom:1px solid #22324c;
}

canvas{
    width:100% !important;
}

body.light .panel,
body.light .card{
    background:white;
    border-color:#d9e0ea;
}
